<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans"
      rel="stylesheet"
      type="text/css"
    />
  </head>
  
  <body>
    <form>
      <div class="productTable">
        <div *ngFor="let product of myDataArray">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">{{ product.price }}&#36;</p>
              <br />
              <p class="card-header-title">{{ product.title }}</p>
  
              <div class="dropdown">
                <button>...</button>
                <div class="dropdown-options">
                  <a
                    *ngIf="mineProduct(product)"
                    [routerLink]="['/eddit/', product.id]"
                    >Eddit</a
                  >
                  <a *ngIf="mineProduct(product)" (click)="deleteProduct(product)"
                    >Delete</a
                  >
  
                  <a *ngIf="!mineProduct(product)" href="#">Report</a>
                </div>
              </div>
            </header>
            <div class="card-content">
              <div class="content">
                <img src="/assets/Images/test.jpeg" />
                <br />
                <p class="cardInfos">
                  {{ product.text }}
                </p>
                <br />
                <br />
                <p class="cardInfos">
                  Starting Time:
                  <time>{{ product.startingDate }}</time>
                </p>
                <p class="cardInfos">
                  Expiration Time:
                  <time>{{ product.expirationDate }}</time>
                </p>
              </div>
            </div>
            <footer class="card-footer">
              <div *ngIf="isLoggedIn()" class="card-footer-item">
                <a *ngIf="!mineProduct(product)" href="#" class="card-footer-item"
                  >Save</a
                >
  
             
                <a
                  *ngIf="!mineProduct(product)"
                  [routerLink]="['/check-out/', product.id]"
                  class="card-footer-item"
                  >More</a
                >
            
              <a href="#" class="card-footer-item">Share</a>
  
            </div >
            </footer>
          </div>
          <br />
        </div>
      </div>
    </form>
  </body>
  
  <div class="parent">
    <button
      *ngIf="isLoggedIn()"
      id="newProd"
      class="round-5"
      onclick="window.location='/show-all-product/add';"
    >
      NEW AD
    </button>
  </div>
  