<div id="formAddProd">
  <h1>Enter the Product characteristics!</h1>

  <div class="hero">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="field">
        <label class="label" for="nume">Title</label>
        <div class="control">
          <input
            class="input"
            id="title"
            formControlName="title"
            required
            minlength="3"
            [ngClass]="{
              'is-danger':
                productForm.controls['title'].invalid &&
                productForm.controls['title'].dirty &&
                productForm.controls['title'].touched
            }"
          />
        </div>

        <div
          class="notification"
          *ngIf="
            productForm.controls['title'].invalid &&
            productForm.controls['title'].dirty &&
            productForm.controls['title'].touched
          "
        >
          <p
            class="help is-danger"
            *ngIf="productForm.controls['title'].errors?.['required']"
          >
            Title is required.
          </p>
          <p
            class="help is-danger"
            *ngIf="productForm.controls['title'].errors?.['minlength']"
          >
            Title must be at least 3 characters long.
          </p>
        </div>
      </div>

      <div class="field">
        <label class="label" for="nume">Price</label>
        <div class="control">
          <input
            class="input"
            id="price"
            formControlName="price"
            required
            min="1"
            [ngClass]="{
              'is-danger':
                productForm.controls['price'].invalid &&
                productForm.controls['price'].dirty &&
                productForm.controls['price'].touched
            }"
          />
        </div>

        <div
          class="notification"
          *ngIf="
            productForm.controls['price'].invalid &&
            productForm.controls['price'].dirty &&
            productForm.controls['price'].touched
          "
        >
          <p
            class="help is-danger"
            *ngIf="productForm.controls['price'].errors?.['required']"
          >
            Price is required.
          </p>
          <p
            class="help is-danger"
            *ngIf="productForm.controls['price'].errors?.['min']"
          >
            The price must be greater than 0!
          </p>
        </div>
      </div>
      <br />

      <!-- <div class="radio">
        <label for="cat1">Category:</label>
        <br />
        <span *ngFor="let cat of categorys">
          <input
            type="radio"
            id="{{ cat.id }}"
            value="{{ cat.value }}"
            name="Furniture"
        
          />
          <label for="Furniture">{{ cat.value }}</label
          ><br />
        </span>
      </div> -->

      <div class="radio">
        <p>Category:</p>
        <input
          type="radio"
          id="category1"
          value="1"
          formControlName="categoryId"
        />
        <label for="category1">Furniture</label><br />
        <br />
        <input
          type="radio"
          id="category2"
          value="2"
          formControlName="categoryId"
        />
        <label for="category2">Cars</label><br />
      </div>
      <br />
      <br />
      <div class="field">
        <label class="label" for="descriere">Description</label>
        <div class="control">
          <input
            id="text"
            formControlName="text"
            required
            minlength="3"
            class="input"
            [ngClass]="{
              'is-danger':
                productForm.controls['text'].invalid &&
                productForm.controls['text'].dirty &&
                productForm.controls['text'].touched
            }"
          />
          <div
            class="notification"
            *ngIf="
              productForm.controls['text'].invalid &&
              productForm.controls['text'].dirty &&
              productForm.controls['text'].touched
            "
          >
            <p
              class="help danger"
              *ngIf="productForm.controls['text'].errors?.['required']"
            >
              Description is required.
            </p>
            <p
              class="help danger"
              *ngIf="productForm.controls['text'].errors?.['minlength']"
            >
              Description must be at least 3 characters long.
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label" for="data">Starting Date</label>
        <div class="control">
          <input
            id="startingDate"
            formControlName="startingDate"
            minlength="3"
            required
            class="input"
            [ngClass]="{
              'is-danger':
                productForm.controls['startingDate'].invalid &&
                productForm.controls['startingDate'].dirty &&
                productForm.controls['startingDate'].touched
            }"
          />
          <div
            class="notification"
            *ngIf="
              productForm.controls['startingDate'].invalid &&
              productForm.controls['startingDate'].dirty &&
              productForm.controls['startingDate'].touched
            "
          >
            <p
              class="help danger"
              *ngIf="productForm.controls['startingDate'].errors?.['required']"
            >
              Starting Date is required.
            </p>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label" for="data">Expiration Date</label>
        <div class="control">
          <input
            id="expirationDate"
            formControlName="expirationDate"
            minlength="3"
            required
            class="input"
            [ngClass]="{
              'is-danger':
                productForm.controls['expirationDate'].invalid &&
                productForm.controls['expirationDate'].dirty &&
                productForm.controls['expirationDate'].touched
            }"
          />
          <div
            class="notification"
            *ngIf="
              productForm.controls['expirationDate'].invalid &&
              productForm.controls['expirationDate'].dirty &&
              productForm.controls['expirationDate'].touched
            "
          >
            <p
              class="help danger"
              *ngIf="productForm.controls['expirationDate'].errors?.['required']"
            >
              Expiration Date is required.
            </p>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="field">
        <label class="label" for="image">Description</label>
        <input

      
          required
          type="file"
          id="image"
          #userPhoto
          (change)="onFileSelected($event)"
          name="image"
          autocomplete="off"
        />
      </div>
      <p><img id="output" width="200" /></p>

      <button type="submit" [disabled]="productForm.invalid">Add</button>
    </form>
  </div>
</div>
